Repository unb-mds/2023-2-SuaGradeUnB, pull requests merged in 2023-11, with the labels that each got.

#60 task(docs): documentação da sprint 6
  docs/sprints/sprint-6.md
  mkdocs.yml
Labels: documentation

#64 fix(docker): arruma os volumes para possibilitar live reload no projeto
  README.md
  api/entrypoint.sh
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.web
  web/package-lock.json
Labels: documentation, docker, devops

#65 devops(docker): sincroniza as atualizações do docker e do compose
  README.md
  api/entrypoint.sh
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.web
  docs/frontend/semana-0.md
  docs/frontend/semana-1.md
  docs/frontend/semana-2.md
  docs/frontend/semana-3.md
  docs/frontend/semana-4.md
  docs/frontend/semana-5.md
  docs/frontend/semana-6.md
  docs/sprints/sprint-3.md
  docs/sprints/sprint-4.md
  docs/sprints/sprint-5.md
  docs/sprints/sprint-6.md
  mkdocs.yml
  web/package-lock.json
Labels: docker, devops

#67 devops(workflows): configura o github action para testes automatizados
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: ci, devops, task

#70 test(users): testes de caso para rota de registro de usuários com oauth2
  .gitignore
  Makefile
  README.md
  api/.env.example
  api/core/settings/base.py
  api/users/backends/google.py
  api/users/tests.py
  scripts/config.sh
  scripts/env.sh
Labels: task, back-end

#71 python(libs): add coverage to run codecov
  requirements.txt
Labels: dependencies, devops

#72 devops(config): adiciona shortcuts de execução e config no makefile
  .gitignore
  Makefile
  README.md
  scripts/report.py
  scripts/test.py
  web/.gitignore
  web/README.md
Labels: dependencies, ci, devops

#74 git(workflows): add postgres to test action
  .github/workflows/test.yml
Labels: bug, ci, devops

#75 test(login): verifica respostas válidas e inválidas para refresh tokens na auth do usuário
  api/users/backends/google.py
  api/users/tests.py
Labels: task, back-end, test

#76 docs(test): descreve cada teste feito no app users
  api/users/tests.py
Labels: documentation, task, back-end

#77 refactor(utils): cria um app django separado p/ funções do web scraping
  api/api/management/commands/updatedb.py
  api/core/settings/base.py
  api/core/urls.py
  api/utils/__init__.py
  api/utils/apps.py
  api/utils/db_handler.py
  api/utils/management/__init__.py
  api/utils/management/commands/__init__.py
  api/utils/management/commands/updatemock.py
  api/utils/mock/departments.html
  api/utils/sessions.py
  api/utils/tests.py
  api/utils/urls.py
  api/utils/views.py
  api/utils/web_scraping.py
Labels: bug, back-end, test

#79 Task/Improve of updatedb functionalities
  api/api/management/commands/updatedb.py
  api/utils/web_scraping.py
Labels: back-end

#80 test(scraping): verifica os casos válidos e inválidos do web scraping e session retrieve
  api/api/tests.py
  api/utils/management/commands/updatemock.py
  api/utils/mock/empty.html
  api/utils/mock/infos.json
  api/utils/mock/just_table.html
  api/utils/mock/sigaa.html
  api/utils/sessions.py
  api/utils/tests.py
  api/utils/urls.py
  api/utils/views.py
  api/utils/web_scraping.py
Labels: back-end, test

#83 docs(sprint): Adição das sprints 7 e 8
  docs/sprints/sprint-7.md
  docs/sprints/sprint-8.md
  mkdocs.yml
Labels: documentation, task

#84 fix(api): remove non obligatory fields of users
  api/users/backends/google.py
  api/users/simplejwt/serializers.py
  api/users/tests.py
  api/users/views.py
Labels: bug, back-end, API

#85 fix(users): remove campo de "last_name" que pode ser undefined
  api/users/backends/google.py
  api/users/simplejwt/serializers.py
  api/users/tests.py
  api/users/views.py
Labels: bug, back-end, API

#86 task(api): adiciona a url da photo do usuário no bando de dados
  Makefile
  api/users/backends/google.py
  api/users/migrations/0002_user_picture_url_alter_user_first_name_and_more.py
  api/users/models.py
  api/users/simplejwt/serializers.py
  api/users/tests.py
  api/users/views.py
  web/.env.example
  web/.eslintrc.json
  web/app/components/Button.tsx
  web/app/components/SignInSection.tsx
  web/app/contexts/UserContext.tsx
  web/app/globals.css
  web/app/hooks/useUser.ts
  web/app/layout.tsx
  web/app/page.module.css
  web/app/page.tsx
  web/app/schedule/page.tsx
  web/app/utils/api/registerWithGoogle.ts
  web/app/utils/request.ts
  web/app/utils/retrieveAccessToken.ts
  web/app/utils/signInWithGoogle.ts
  web/package-lock.json
  web/package.json
  web/postcss.config.js
  web/public/google.svg
  web/public/logo.svg
  web/tailwind.config.ts
Labels: task, back-end, API

#87 update(api): o campo de url da foto de usuário foi adicionado à api.
  api/users/backends/google.py
  api/users/migrations/0002_user_picture_url_alter_user_first_name_and_more.py
  api/users/models.py
  api/users/simplejwt/serializers.py
  api/users/tests.py
  api/users/views.py
Labels: feature request, front-end, API

#88 fix(users): corrige erro de cadastro da foto do usuário
  api/users/backends/google.py
Labels: bug, back-end, API

#89 front(login): cria e integra a página de login/registro com a dj api
  api/users/backends/google.py
  web/app/components/AsideButton.tsx
  web/app/components/SignInSection.tsx
  web/app/contexts/UserContext.tsx
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/app/schedule/page.tsx
  web/app/schedules/home/page.tsx
  web/app/schedules/layout.tsx
  web/app/schedules/mygrades/page.tsx
  web/app/schedules/profile/page.tsx
  web/next.config.js
  web/public/profile.svg
  web/tailwind.config.ts
Labels: task, front-end

#82 api(search): implementação do sistema de busca por matéria
  api/api/migrations/0002_auto_20231113_2029.py
  api/api/serializers.py
  api/api/tests.py
  api/api/urls.py
  api/api/views.py
  api/core/settings/base.py
  api/core/urls.py
  api/utils/db_handler.py
  api/utils/tests.py
Labels: task, tests needed, back-end, API

#93 task(logout): criar funcionalidade de logout na implementção da api
  api/users/tests/__init__.py
  api/users/tests/login.py
  api/users/tests/logout.py
  api/users/tests/register.py
  api/users/urls.py
  api/users/views.py
Labels: task, API, test

#104 mkdocs(docs): Adiciona a sprint 9
  docs/sprints/sprint-9.md
  mkdocs.yml
Labels: documentation

#103 api(web-scraping): Corrige bugs e atualiza modelo do banco de dados
  api/api/management/commands/updatedb.py
  api/api/migrations/0003_remove_class_workload_class_special_dates_and_more.py
  api/api/models.py
  api/api/tests/test_discipline_models.py
  api/api/tests/test_search_api.py
  api/utils/db_handler.py
  api/utils/tests/test_database_handler.py
  api/utils/tests/test_web_scraping.py
  api/utils/web_scraping.py
Labels: bug, task, back-end, API

#108 DevOps(database): Cria comandos make para atualizar o banco de dados.
  Makefile
  api/api/management/commands/updatedb.py
Labels: devops, task

#100 fix(Users): Corrige o erro de troca de nome de usuário.
  api/users/backends/google.py
Labels: bug, tests needed, back-end

#113 tests(codecov): Adicionar arquivos de configuração
  api/setup.cfg
  api/users/backends/google.py
  api/utils/sessions.py
  api/utils/web_scraping.py
Labels: back-end, API, test

#115 main(readme): update README.md
  README.md
Labels: documentation

#117 main(readme): remove embeds
  README.md
Labels: documentation

#112 task(web-scraping): Definir intervalos de horário para cada data especial task
  api/api/migrations/0004_alter_class_special_dates.py
  api/api/models.py
  api/utils/management/commands/updatemock.py
  api/utils/mock/infos.json
  api/utils/mock/sigaa.html
  api/utils/web_scraping.py
Labels: back-end, API

#118 fix(utils): funções get start e end index com return incorreto
  api/utils/web_scraping.py
Labels: bug, back-end

#119 main(readme): fix repo redirects
  README.md
Labels: documentation

#107 api(search): corrige experiência do usuário e adiciona verificações
  Makefile
  api/api/management/commands/updatedb.py
  api/api/migrations/0004_auto_20231126_1740.py
  api/api/migrations/0005_discipline_unicode_name.py
  api/api/migrations/0006_merge_20231127_2255.py
  api/api/models.py
  api/api/tests/test_search_api.py
  api/api/views.py
  api/utils/db_handler.py
  api/utils/tests/test_database_handler.py
  requirements.txt
Labels: bug, task, back-end

#122 typo(tests): add pep8
  api/api/tests/test_discipline_models.py
Labels: bug

#123 Revert "Revert "api(search): corrige experiência do usuário e adiciona verificações""
  Makefile
  api/api/management/commands/updatedb.py
  api/api/migrations/0004_auto_20231126_1740.py
  api/api/migrations/0005_discipline_unicode_name.py
  api/api/migrations/0006_merge_20231127_2255.py
  api/api/models.py
  api/api/tests/test_search_api.py
  api/api/views.py
  api/utils/db_handler.py
  api/utils/tests/test_database_handler.py
  requirements.txt
Labels: bug

#124 docs(redoc): cria documentação integrada com swagger
  api/api/swagger.py
  api/api/templates/404.html
  api/api/views.py
  api/core/settings/base.py
  api/core/urls.py
  api/users/tests/__init__.py
  api/users/tests/login.py
  api/users/tests/register.py
  api/users/tests/test_session_login.py
  api/users/tests/test_session_logout.py
  api/users/views.py
  requirements.txt
Labels: documentation, task, API

#125 task(api): atualiza o frontend com as novas informações salvas de cada matéria na api
  Makefile
  README.md
  api/api/management/commands/updatedb.py
  api/api/migrations/0004_alter_class_special_dates.py
  api/api/migrations/0004_auto_20231126_1740.py
  api/api/migrations/0005_discipline_unicode_name.py
  api/api/migrations/0006_merge_20231127_2255.py
  api/api/models.py
  api/api/swagger.py
  api/api/templates/404.html
  api/api/tests/test_discipline_models.py
  api/api/tests/test_search_api.py
  api/api/tests/test_year_period_api.py
  api/api/urls.py
  api/api/views.py
  api/core/settings/base.py
  api/core/urls.py
  api/setup.cfg
  api/users/backends/google.py
  api/users/tests/__init__.py
  api/users/tests/login.py
  api/users/tests/register.py
  api/users/tests/test_session_login.py
  api/users/tests/test_session_logout.py
  api/users/views.py
  api/utils/db_handler.py
  api/utils/management/commands/updatemock.py
  api/utils/mock/infos.json
  api/utils/mock/sigaa.html
  api/utils/sessions.py
  api/utils/tests/test_database_handler.py
  api/utils/web_scraping.py
  docs/api.md
  requirements.txt
Labels: task, front-end, API

#127 docs(mkdocs): Melhorias no Como contribuir e Como executar
  docs/contributing.md
  docs/executing.md
  mkdocs.yml
Labels: documentation
